html, body {
  height: 100%;
  width: 100%;
}

/* Navbar styling */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #4B9CD3;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: white;
  background-color: #4B9CD3;
}

.navbar ul a {
  color: white;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar .navbar-nav li a {
  color: #D5D5D5;
}

.navbar-toggle {
  background-color: #4B9CD3;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #007FAE;
}

/* Page styling */
.landingImage {
  height: 100%;
  background-image: url("resources/overlook.jpg");
  background-position: center center;
  background-size: cover;
  display: block;
}

.header {
  text-align: center;
}
